* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
nav {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;
  background-color: rgba(1, 78, 86, 1);
  .nav_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 588px) {
      flex-direction: column;
    }
  }
  .ham {
    display: none;
    @media (max-width: 588px) {
      display: block;
    }
  }
  .Nav_laft_elem {
    display: flex;
    align-content: center;
    gap: 80px;
    @media (max-width: 588px) {
      flex-direction: column;
      gap: 20px;
    }
    .Nav_flexx {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      @media (max-width: 588px) {
        display: none;
        margin-bottom: 20px;
        justify-content: center;
        grid-area: 40px;
      }
      a {
        font-family: Livvic;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;

        color: rgba(255, 255, 255, 1);
      }
    }
  }
  @media (max-width: 588px) {
    &.burger {
      ul {
        display: flex;
      }
      .Nav_right_elem {
        display: flex;
      }
    }
  }
}

.Nav_right_elem {
  display: flex;
  gap: 10px;
  @media (max-width: 588px) {
    display: none;
  }
  .button_nav {
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 9px 33px 11px 32px;
    color: rgba(255, 255, 255, 1);
  }
}
footer {
  background-color: rgba(0, 37, 41, 1);
  padding: 48px 0px;
  .footer_flex {
    display: flex;
    justify-content: space-between;
    @media (max-width: 544px) {
      flex-direction: column;
      align-items: center;
    }
    .footer_laft_elem {
      display: flex;
      gap: 60px;
      @media (max-width: 385px) {
        flex-direction: column;
      }
      .last_elem_footer_div {
        display: flex;
        flex-direction: column;
        gap: 40px;
        ul {
          display: flex;
          gap: 40px;
          li {
            font-family: Livvic;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
            a {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
      .last_elem_footer_div2 {
        p {
          font-family: Livvic;
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          letter-spacing: 0px;
          opacity: 60%;
          max-width: 200px;
          color: white;
        }
      }
    }
    .right_elem_footer {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 51px;
      .img_div {
        display: flex;
        gap: 16px;
      }
      p {
        font-family: Livvic;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: right;
        color: rgba(255, 255, 255, 1);
        opacity: 60%;
      }
    }
  }
}

.bactop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  /* From Uiverse.io by vinodjangid07 */
  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }

  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }

  .svgIcon path {
    fill: white;
  }

  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
    z-index: 100;
  }

  .button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }

  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }

  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: cursive;
  animation-name: load;
  animation-duration: 3s;
  animation-fill-mode: both;
  @keyframes load {
    0% {
      opacity: 1;
      z-index: 10000;
    }
    80% {
      opacity: 1;
      z-index: 10000;
    }
    100% {
      opacity: 0;
      z-index: -10000;
    }
  }
  .svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .svg-frame svg {
    position: absolute;
    transition: 0.5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }

  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
      translateY(calc(-35px * var(--i)));
  }

  .svg-frame svg #center {
    transition: 0.5s;
    transform-origin: center;
  }

  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }

  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }

  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }

  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }

  #center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }

  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }
}
