* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
nav {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;
  background-color: rgba(1, 78, 86, 1);
  .nav_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 588px) {
      flex-direction: column;
    }
  }
  .ham {
    display: none;
    @media (max-width: 588px) {
      display: block;
    }
  }
  .Nav_laft_elem {
    display: flex;
    align-content: center;
    gap: 80px;
    @media (max-width: 588px) {
      flex-direction: column;
      gap: 20px;
    }
    .Nav_flexx {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      @media (max-width: 588px) {
        display: none;
        margin-bottom: 20px;
        justify-content: center;
        grid-area: 40px;
      }
      a {
        font-family: Livvic;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;

        color: rgba(255, 255, 255, 1);
      }
    }
  }
  @media (max-width: 588px) {
    &.burger {
      ul {
        display: flex;
      }
      .Nav_right_elem {
        display: flex;
      }
    }
  }
}

.Nav_right_elem {
  display: flex;
  gap: 10px;
  @media (max-width: 588px) {
    display: none;
  }
  .button_nav {
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 9px 33px 11px 32px;
    color: rgba(255, 255, 255, 1);
  }
}
footer {
  background-color: rgba(0, 37, 41, 1);
  padding: 48px 0px;
  .footer_flex {
    display: flex;
    justify-content: space-between;
    @media (max-width: 544px) {
      flex-direction: column;
      align-items: center;
    }
    .footer_laft_elem {
      display: flex;
      gap: 60px;
      @media (max-width: 385px) {
        flex-direction: column;
      }
      .last_elem_footer_div {
        display: flex;
        flex-direction: column;
        gap: 40px;
        ul {
          display: flex;
          gap: 40px;
          li {
            font-family: Livvic;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0px;
            a {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
      .last_elem_footer_div2 {
        p {
          font-family: Livvic;
          font-weight: 600;
          font-size: 15px;
          line-height: 25px;
          letter-spacing: 0px;
          opacity: 60%;
          max-width: 200px;
          color: white;
        }
      }
    }
    .right_elem_footer {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 51px;
      .img_div {
        display: flex;
        gap: 16px;
      }
      p {
        font-family: Livvic;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: right;
        color: rgba(255, 255, 255, 1);
        opacity: 60%;
      }
    }
  }
}
